.App {
  font-family: sans-serif;
  text-align: center;
  border-radius:25px;
  
}
body{
  background: url("https://images.unsplash.com/photo-1568219557405-376e23e4f7cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  background-size:contain;
  background-position:top;
  background: cover;
  
}
.react-kanban-board {
  height: 95vh !important;
}n

.react-kanban-column-header {
  color: rgb(239, 9, 90);
 
}

.text {
  font-size: 20px;
  
  
}
